
body{
  font-family: 'Playfair Display', serif;
  background-image: url('bgsh/6.jpg');
  background-position: top center;
  background-attachment: fixed;

}
hr.headline{
  color: black;
}
.phototitle{
  font-style:italic;
  font-size: 1.7em;
  position: absolute;
  left: 20%;
  top: 7%;
  width: 80%;
  background-color: black;
  color: white;
}
.navenv{
  font-style:italic;
  position: absolute;
  right: 20%;
  bottom: 7%;
  width: 80%;
  background-color: black;
  color: white;
  text-align: right;
}
.photoenv{
  position: absolute;
  left:  10%;
  width: 80%;
  top: 16%;
  bottom: 16%;
  text-align: center;
}
.iconav{
  font-size: 1.7em;
  padding-right: .5em;
  color: white;
  margin-right: 0px;
}
.icoback{
  font-size:2em;
  position: absolute;
  top:5.6%;
  left:10%;
  height: 100;
  width: 100;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a {
  text-decoration: none;
  color: white;
}
