
body{
  font-family: 'Playfair Display', serif;
  background-image: url('bgsh/6.jpg');
  background-position: top center;
  background-attachment: fixed;

}
hr.headline{
  color: black;
}
.phototitle{
  font-style:italic;
  position: absolute;
  left: 20%;
  top: 7%;
  width: 80%;
  background-color: black;
  color: white;
}
.photoenv{
  position: absolute;
  left:  10%;
  width: 80%;
  top: 16%;
  height: auto;
  background-color: black;
}
.icoright{
  font-size: 1em;
  position: absolute;
  bottom: 10%;
  right: 20%;
  height: 100;
  width: 100;
}
.icoleft{
  font-size: 1em;
  position: absolute;
  bottom: 10%;
  left: 40%;
  height: 100;
  width: 100;
}
.icoback{
  font-size:2em;
  position: absolute;
  top:7%;
  left:10%;
  height: 100;
  width: 100;
}
img {
    image-orientation: flip;
}
a {
  text-decoration: none;
  color: white;
}
